@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=============== CLOCK ===============*/

.clock__circle {
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .clock__logo {
    margin-bottom: 3rem;
  }
}

/*=============== MAGIC BUTTON ===============*/
.button {
  position: relative;
  background-color: hsl(217, 75%, 80%);
  color: #fff;
  padding: 0.9rem 2.2rem;
  border-radius: 3rem;
  transition: 0.4s;
  cursor: pointer;
}

.button::after {
  content: "";
  width: 80%;
  height: 40%;
  background: linear-gradient(
    80deg,
    hsl(217, 80%, 80%) 10%,
    hsl(217, 85%, 70%) 48%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0 auto;
  border-radius: 3rem;
  filter: blur(12px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
}

.button__text {
  position: relative;
  z-index: 10;
}

.button_img {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: 0.6s;
  opacity: 0;
}

/* Move 3D geometric elements */
.button__cone {
  width: 18px;
  transform: translate(-25px, -6px) rotate(55deg);
  filter: blur(0.5px);
}

.button__torus {
  width: 38px;
  transform: translate(7px, -14px) rotate(80deg);
}

.button__icosahedron {
  width: 36px;
  transform: translate(34px, -4px) rotate(-45deg);
  filter: blur(0.9px);
}

.button__sphere {
  width: 30px;
  transform: translate(-5px, 15px) rotate(40deg);
}

/* View shadow gradient */
.button:hover::after {
  opacity: 1;
}

/* Button scale */
.button:hover {
  transform: scale(1.3);
}

/* View 3D geometric elements */
.button:hover img {
  opacity: 1;
}

.button:hover .button__cone {
  transform: translate(-38px, -10px) scale(1.2);
}

.button:hover .button__torus {
  transform: translate(7px, -32px) scale(1.1);
}

.button:hover .button__icosahedron {
  transform: translate(50px, -20px) scale(1.1);
}

.button:hover .button__sphere {
  transform: translate(-14px, 20px) scale(1.1);
}
